* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.header {
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header img {
    padding-left: 100px;

}


.header-navi {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right:180px;

}

.header-navi a {
    text-decoration: none;
    color:inherit;
    font-family: 'Karla';
    font-size: 14px;
    color:hsl(273, 4%, 51%);
    font-weight: 600;

}

#viewplans {
    color:black;
    border:1px solid black;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:5px;
    padding-bottom: 5px;
}

.hero {
    background-color: hsl(256, 26%, 20%);
    height:650px;
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero-left {
    padding-left:100px;
}

.line {
    width:150px;
    height:2px;
    background-color: white;
    position:absolute;
    top: 130px;
    left: 150px;
}

#human {
    font-family: 'DM Serif Display';
    color:white;
    font-weight: 600;
    font-size:60px;
    padding-left:50px;
    line-height: 1;
    

}

#hero-de {
    color:white;
    font-family: 'Karla';
    font-weight: 400;
    padding-top:25px;
    padding-left:50px;
    line-height:1.3;
    color:hsl(273, 4%, 51%);
    padding-bottom: 30px;
}

.hero-left a {
    text-decoration: none;
    color:inherit;
    font-family: 'Karla';
    color:hsl(0, 0%, 98%);
    font-weight: 400;
    margin-left: 50px; 
}

#intro-left {
    position:absolute;
    left:0;
    bottom: -10;
}

#viewplans2 {
    border:1px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:8px;
    padding-bottom: 8px;
}

#intro-right {
    position:absolute;
    top:0;
    right:0;
    z-index:2;
}

#intro-img {
   translate: -180px 120px; 
}

.info {
    height:650px;
    position:relative;
}


.line1 {
    width:140px;
    height:1px;
    background-color: hsla(256, 26%, 20%,0.5);
    position:absolute;
    top: 280px;
    left: 100px;
}

#different {
    font-family: 'DM Serif Display';
    color:black;
    font-weight: 400;
    font-size:60px;
    padding-top: 320px;
    padding-left:100px;

}

.info-below {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    text-align:left;
    padding-left:100px;
    padding-top: 50px;

}

.icon {
    padding-bottom: 30px;
}

.capital {
    font-family: 'DM Serif Display';
    font-weight: 400;
    padding-bottom: 30px;
    font-size: 25px;
}

.lower {
    font-family: 'Karla';
    color:hsl(273, 4%, 51%);
    font-weight: 400;

}

.find {
    height:400px;
    
}

.findout {
    height:210px;
    width:1000px;
    background-color: hsl(256, 26%, 20%);
    margin-left: 200px;
    margin-top: 120px;
    position:relative;
}

#findtitle {
    font-family: 'DM Serif Display';
    color:white;
    font-weight: 400;
    font-size:50px;
    padding-left: 50px;
    padding-top: 50px;
    line-height:1;
}

#howwework {
    text-decoration: none;
    color:inherit;
    font-family: 'Karla';
    color:white;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid white;
    padding-left:20px;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position:absolute;
    left:800px;
    top:70px;

}

#howweworkimg {
    position:absolute;
    top:0;
    right:0;
    max-height:210px;
}

footer {
    height:400px;
    background-color: hsl(0, 0%, 98%);
    position:relative;
}

.footer-upper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

#footer-logo {
    padding-left: 100px;
    z-index:3;
}

.footer-icon {
    padding-right: 270px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#footer-img {
    position: absolute;
    top:0;
    left:0;
}

.line2 {
    width: 1050px;
    height:1px;
    background-color: hsla(273, 4%, 51%, 0.4);
    position:absolute;
    left:100px;
    top: 110px;
    
}

.feature {
    padding-left: 100px;
    padding-top: 50px;
    max-width: 1050px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
    text-align:left;
    line-height: 2;
}

.feature-head {
    font-family: 'Karla';
    color:hsl(273, 4%, 51%);
    font-weight: 500;
    padding-bottom: 20px;
}

.feature a {
    text-decoration: none;
    color:inherit;
    font-family: 'Karla';
    color:hsl(270, 9%, 17%);
    font-weight: 700;
}

